<!-- Latest Announcements -->
<div class='background'></div>
<div class='carousel announcements'>
  <div class='announcement'>
    <div class='title'>
    </div>
    <div class='description'>
      <h2>
        Welcome to Kinnected!
      </h2>
    </div>
  </div>

  <div class='announcement'>
    <div class='title'>

    </div>
    <div class='description'>
      <div class='row gears'>
        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12' ng-repeat='product in gear'>
          <product-partial></product-partial>
        </div>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript' src='/static/js/carousel.js'></script>
