    <br><br><br>

    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="text" class="form-control padding-large-vertical" id="search" placeholder="Search">
                </div>
                <div>
                    <button ng-click="$state.go('profile.search')" type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
        </div>

        <br><br>
        <div class="list-group">
            <div ng-repeat="user in users" class="row">
                <div class="list-group-item col-sm-6 col-sm-offset-3" style="background-color:rgba(0,0,0,.075);margin-bottom: 16px;padding: 18px;">
                    <div class="row">
                        <div id="user_pic" class="col-sm-4"><img src="static/profile_pic.jpg" style="width:72px;height:72px;"></div>
                        <div id="user_info" class="col-sm-6">
                            <h4 class="list-group-item-heading">{{user.first_name}} {{user.last_name}}</h4>
                            <p class="list-group-item-text">{{user.email}} </p>
                        </div>
                        <div class="col-sm-2"><a ng-click="makeConnection(user.email)" class="btn btn-success"role="button">Kinnect &raquo;</a></div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <footer>
            <p class="text-center">&copy; 2016 HapyGoSlappys, Inc.</p>
        </footer>
    </div>