    <!--Nav bar needs logout to the right and search bar added to it (by Michael Tompkins)-->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="$state.go('home')">Kinnected</a>
                <a class="navbar-brand" ng-click="$state.go('profile.home')">Profile</a>
                <a class="navbar-brand" ng-click="$state.go('profile.display')">Network</a>
                <a class="navbar-brand" ng-click="logout()">Log Out</a>
            </div>
        </div>
    </nav>

    <ui-view></ui-view>
