
    <br><br><br>

    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="col-sm-4 col-sm-offset-4">
                    <input type="text" class="form-control padding-large-vertical" id="search"  placeholder="Search">
                </div>
                <div>
                    <button ng-click="$state.go('profile.search')" type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
        </div>
        <br><br>
        <div class="row">
            <p> </p>
            <h3 class="col-sm-4 text-center col-sm-offset-4">{{userData.first_name}} {{userData.last_name}}</h3>
        </div>
        <div class="row">
            <h3 class="col-sm-2 col-sm-offset-3 text-left"></h3>
            <img src="/static/profile_pic.jpg" class="col-sm-2 img-circle" alt="Profile Picture">
            <a class="col-sm-2" ng-click="$state.go('profile.editProfile')">edit profile</a>
            <p>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" style="background-color: #eee;">
                <h2 class="text-center">Experience</h2>
                <div ng-repeat="job in userData.jobs" class="row">
                    <div class="search-list-item col-sm-10 col-sm-offset-1" style="background-color:rgba(0,0,0,.075);margin-bottom: 16px;">
                        <div class="row">
                            <div id="user_info" class="col-sm-12">
                                <p id="user_fname">Job Title: {{job.title}}</p>
                                <p id="user_lname">Job Description: {{job.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-6">
                <br><br>
            </div>
            <div class="col-sm-8 col-sm-offset-2" style="background-color: #eee;">
                <h2 class="text-center">user info</h2>

                <h5>email: {{userData.email}}</h5>
                <h5>graduated: {{userData.gradyear}}</h5>
                <h5>degree: {{userData.major}}</h5>
            </div>
        </div>

        <br>
        <hr>

        <footer>
            <p class="text-center">&copy; 2016 HapyGoSlappys, Inc.</p>
        </footer>
    </div>


